*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body{
  height: 100vh;
}
.app-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  height: 100vh;
}
h1{
  text-align: center;
  font-size: 1.4rem;
}
.text-box{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}
.text-box .text, .size{
  padding:1rem;
  width: 350px;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 3px;
  outline: none;
  border: 1px solid gray;
}
button{
  padding: 1rem;
  width: 250px;
  outline: none;
  border: none;
  color: #fff;
  border-radius: 4px;
  font-weight:500;
  font-size: 0.9rem;
}
.generate-btn{
  background-color: rgb(78, 78, 252);
}
.download-btn{
  background-color: rgb(75, 209, 45);
}
.download-btn:disabled{
  background-color: rgba(128, 128, 128, 0.66);
}